<div class="with-user-links">
  <h2>My calendar:</h2>
  <div class="calendars-holder">
    <%= render 'calendars/calendar_timeline',
               view_data: @calendars_presenter.calendar_timeline_data(
                   view_data[:my_preferences],
                   view_data[:me]
               ),
               timeline_data: view_data[:my_calendar_data] %>
  <h2><%= view_data[:provider_name] %>'s calendar:</h2>
    <%= render 'calendars/calendar_timeline',
               view_data: @calendars_presenter.calendar_timeline_data(
                   view_data[:provider_preferences],
                   view_data[:provider]
               ),
               timeline_data: view_data[:provider_calendar_data] %>
    <% if view_data[:booking_is_available] %>
      <%= render 'calendars/calendar_runner',
                 duration: @service.servicedata['duration'],
                 free: view_data[:free_intervals] %>
    <% end %>
  </div>
  <% if view_data[:booking_is_available] %>
    <%= render 'calendars/booking_form', at_time: view_data[:free_intervals].start %>
  <% end %>
  <%= render 'calendars/calendar_legend' %>
  <br/>
  <%= link_to 'Back to service', service_path(@service) %>
</div>