<div class="row">
  <div class="col-sm-10">
    <p id="notice"><%= notice %></p>

    <h2>Service <b><%= view_data[:name] %></b></h2>
    <br/>

    <b>Provided by </b><%= @provider.profile.personaldata['name'] %>
    <br/>
    <br/>
    <b>Average duration </b> <%= view_data[:duration] %> minutes
    <br/>
    <br/>
    <b>Description</b>
    <br/>
    <%= view_data[:description] %>
  </div>

  <div class="col-sm-2 edit-buttons">
    <% if @provider.id == current_user.id %>
      <%= link_to 'Edit service', edit_service_path(@service)%>
      <%= link_to 'Delete service',
          @service,
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    <% else %>
      <%= link_to 'All this user\'s services', show_services_path(@provider) %>
      <%= link_to 'Book this service', book_service_path(@service) %>
    <% end %>
  </div>
</div>
