<% msg = params[:message]
display_none = ' style=display:none'
has_warn = ' has-warning'
no_warn_name = (msg.nil? or msg[:name].nil?)
no_warn_phone = (msg.nil? or msg[:phone].nil?)
display_none_name = if no_warn_name then display_none else '' end
display_none_phone = if no_warn_phone then display_none else '' end
warn_name_input = if no_warn_name then '' else has_warn end
warn_phone_input = if no_warn_phone then '' else has_warn end
name_string = if no_warn_name then '' else msg[:name] end
phone_string = if no_warn_phone then '' else msg[:phone] end
%>
<div class="row">
	<div class="col-sm-6 col-sm-push-3">
		<form action='<%= user_path %>' method="POST">
			<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			<input name="_method" type="hidden" value="put" />
			<label for="personaldata[name]">Your name:</label>
			<input type="text" id="personaldata[name]" name="personaldata[name]" class="form-control<%= warn_name_input %>" value="<%= @user.profile.personaldata['name'] %>" />
			<span class="label label-warning"<%= display_none_name %> data-toggle="popover" data-trigger="hover" data-content="<%= name_string %>" data-original-title="Warning">!</span>
			<label for="personaldata[phone]">Your phone:</label>
			<input type="text" id="personaldata[phone]" name="personaldata[phone]" class="form-control<%= warn_phone_input %>" value="<%= @user.profile.personaldata['phone'] %>" />
			<span class="label label-warning"<%= display_none_phone %> data-toggle="popover" data-trigger="hover" data-content="<%= phone_string %>" data-original-title="Warning">!</span>
			<label for="personaldata[country]">Your country:</label>
			<input type="text" id="personaldata[country]" name="personaldata[country]" class="form-control" value="<%= @user.profile.personaldata['country'] %>" />
			<label for="personaldata[city]">Your city:</label>
			<input type="text" id="personaldata[city]" name="personaldata[city]" class="form-control" value="<%= @user.profile.personaldata['city'] %>" />
			<label for="personaldata[address]">Your address:</label>
			<input type="text" id="personaldata[address]" name="personaldata[address]" class="form-control" value="<%= @user.profile.personaldata['address'] %>" />
			<br/>
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href='<%= user_path %>' class="btn btn-primary" style="float:right">Back</a>
		</form>
	</div>
</div>