<% profile_json = @user.profile.present? ? @user.profile.personaldata : {} %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="notshown">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row row-eq-height">
  <div class="col-sm-3">
    <div class="user-photo">User photo</div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2"><b>
        Name
      </b></div>
      <div class="col-sm-3">
        <%= profile_json['name'] %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        Country
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= profile_json['country'] %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"><b>
        Email
      </b></div>
      <div class="col-sm-3">
        <%= @user.email %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        City
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= profile_json['city'] %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"><b>
        Phone
      </b></div>
      <div class="col-sm-3">
        <%= profile_json['phone'] %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        Address
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= profile_json['address'] %>
      </div>
    </div>
  </div>

  <div class="col-sm-2 col-sm-push-1 edit-buttons">
    <% if current_user.id == @user.id %>
      <% if @user.profile.present? %>
        <%= link_to 'Manage my services', edit_services_path %>
        <%= link_to 'Edit my profile', edit_profile_path(@user.profile) %>
        <%= link_to 'Show my calendar', user_calendar_path(@user) %>
      <% else %>
        <%= link_to 'Create profile', new_profile_path %>
      <% end %>
    <% else %>
      <%= link_to 'View services', show_services_path(@user) %>
      <% if @user.profile.present? %>
        <%= link_to @user.profile.personaldata['name'] + '\'s calendar',
                    user_calendar_path(@user) %>
      <% end %>
    <% end %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>

</div>