<% if view_data[:user].errors.any? %>
  <div id="error_explanation" class="notshown">
    <ul>
      <% view_data[:user].errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row row-eq-height">
  <div class="col-sm-3">
    <div class="user-photo">User photo</div>
  </div>

  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2"><b>
        Name
      </b></div>
      <div class="col-sm-3">
        <%= view_data[:json]['name'] %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        Country
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= view_data[:json]['country'] %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"><b>
        Email
      </b></div>
      <div class="col-sm-3">
        <%= view_data[:user].email %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        City
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= view_data[:json]['city'] %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2"><b>
        Phone
      </b></div>
      <div class="col-sm-3">
        <%= view_data[:json]['phone'] %>
      </div>
      <div class="col-sm-2 col-sm-push-1"><b>
        Address
      </b></div>
      <div class="col-sm-3 col-sm-push-1">
        <%= view_data[:json]['address'] %>
      </div>
    </div>
  </div>

  <div class="col-sm-2 col-sm-push-1 edit-buttons">
    <% if view_data[:user_is_owner] %>
      <% if view_data[:profile_is_present] %>
        <%= link_to 'Edit my profile', edit_profile_path(view_data[:profile]) %>
      <% else %>
        <%= link_to 'Create profile', new_profile_path %>
      <% end %>
    <% else %>
      <% if view_data[:profile_is_present] %>
        <%= link_to 'View services', show_services_path(view_data[:user]) %>
        <%= link_to view_data[:profile].personaldata['name'] + '\'s calendar',
                    user_calendar_path(view_data[:user]) %>
      <% end %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-sm-12">
    <%= commontator_thread(view_data[:user]) %>
  </div>
</div>