<% parsed = @user.profile.personaldata %>
<div class="row row-eq-height">
	<div class="col-sm-3">
		<div style="height:100%; border:1px solid; text-align:center;">User photo</div>
	</div>
	<div class="col-sm-6">
		<div class="row">
			<div class="col-sm-2"><b>
				Name
			</b></div>
			<div class="col-sm-3">
				<%= parsed['name'] %>
			</div>
			<div class="col-sm-2 col-sm-push-1"><b>
				Country
			</b></div>
			<div class="col-sm-3 col-sm-push-1">
				Not available now
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"><b>
				Email
			</b></div>
			<div class="col-sm-3">
				<%= @user.email %>
			</div>
			<div class="col-sm-2 col-sm-push-1"><b>
				City
			</b></div>
			<div class="col-sm-3 col-sm-push-1">
				Not available now
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2"><b>
				Phone
			</b></div>
			<div class="col-sm-3">
				<%= parsed['phone'] %>
			</div>
			<div class="col-sm-2 col-sm-push-1"><b>
				Address
			</b></div>
			<div class="col-sm-3 col-sm-push-1">
				Not available now
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-sm-push-1 edit-buttons">
		<% if current_user == @user %>
			<%= link_to 'Manage your services', edit_services_path, :class => "btn btn-primary" %>
			<br/><br/>
			<%= link_to 'Edit your profile', edit_profile_path, :class => "btn btn-primary" %>
			<br/><br/>
		<% end %>
		<%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "btn btn-primary" %>
	</div>
</div>