<% my_order = order[:customer_id] == current_user.id
  ordered_at_me = order[:provider_id] == current_user.id
  class_name = my_order ? 'tl-my-order' : ordered_at_me ? 'tl-ordered-at-me' : 'tl-sided-order'
  profile_info = JSON.parse(order[:customer_personal_info])
  service_info = JSON.parse(order[:service_info])
  title = my_order ? 'I\'ve ordered' : "#{profile_info['name']} has ordered"
  time = DateTime.parse(order[:start_time])
  dur = order[:duration].to_i
  minutes = time.hour * 60 + time.min
  description = "Service #{service_info['name']} " +
      "starts at #{time.strftime('%H:%M')} " +
      "and lasts #{dur} minutes."
%>
<div class="timeline <%= class_name %>" style=
  "width: <%= width(dur) %>%;
  left: <%= width(minutes) %>%"
  data-toggle="popover"
  data-trigger="hover"
  data-placement="top"
  data-content="<%= description %>"
  data-original-title="<%= title %>">
</div>
<% if order[:rest_time] > 0 %>
  <div class="timeline tl-rest-time" style=
    "width: <%= width(order[:rest_time]) %>%;
    left: <%= width(dur + minutes) %>%"
    data-toggle="popover"
    data-trigger="hover"
    data-placement="top"
    data-content="rest after service for <%= order[:rest_time] %> minutes."
    data-original-title="Rest time">
  </div>
<% end %>