<%= form_for (view_data[:calendar]), url: {action: 'update'} do |f| %>
  <label for="calendar[preferences][serving_start]">Time when you start working:</label>
  <input type="number"
         id="startDoublerHours"
         name="startDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= hours(view_data[:serving_start]) %>" /> hours
  <input type="number"
         id="startDoublerMinutes"
         name="startDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= minutes(view_data[:serving_start]) %>" /> minutes
  <input type="range"
         id="calendar[preferences][serving_start]"
         name="calendar[preferences][serving_start]"
         min="0"
         max="<%= @calendars_presenter.max_minute %>"
         step="1"
         value="<%= view_data[:serving_start] %>" />

  <label for="calendar[preferences][serving_finish]">Time when you usually finish working:</label>
  <input type="number"
         id="finishDoublerHours"
         name="finishDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= hours(view_data[:serving_finish]) %>" /> hours
  <input type="number"
         id="finishDoublerMinutes"
         name="finishDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= minutes(view_data[:serving_finish]) %>" /> minutes
  <input type="range"
         id="calendar[preferences][serving_finish]"
         name="calendar[preferences][serving_finish]"
         min="0"
         max="<%= @calendars_presenter.max_minute %>"
         step="1"
         value="<%= view_data[:serving_finish] %>" />

  <label for="calendar[preferences][break_start]">Time to have a break:</label>
  <input type="number"
         id="breakStartDoublerHours"
         name="breakStartDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= hours(view_data[:break_start]) %>" /> hours
  <input type="number"
         id="breakStartDoublerMinutes"
         name="breakStartDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= minutes(view_data[:break_start]) %>" /> minutes
  <input type="range"
         id="calendar[preferences][break_start]"
         name="calendar[preferences][break_start]"
         min="0"
         max="<%= @calendars_presenter.max_minute %>"
         step="1"
         value="<%= view_data[:break_start] %>" />

  <label for="calendar[preferences][break_finish]">Time to go back to work:</label>
  <input type="number"
         id="breakFinishDoublerHours"
         name="breakFinishDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= hours(view_data[:break_finish]) %>" /> hours
  <input type="number"
         id="breakFinishDoublerMinutes"
         name="breakFinishDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= minutes(view_data[:break_finish]) %>" /> minutes
  <input type="range"
         id="calendar[preferences][break_finish]"
         name="calendar[preferences][break_finish]"
         min="0"
         max="<%= @calendars_presenter.max_minute %>"
         step="1"
         value="<%= view_data[:break_finish] %>" />

  <label for="calendar[preferences][rest_time]">Average time to take rest between services:</label>
  <span class="label label-info" data-toggle="popover" data-trigger="hover"
        data-content="During that time after service execution, you'll be
  unavailable for other customers. You can always set rest time for
  every certain service. This value is set by default." data-original-title="Info">!</span>
  <input type="number"
         id="restTimeDoubler"
         name="restTimeDoubler"
         min="0"
         max="60"
         value="<%= view_data[:rest_time] %>" />
  minutes
  <input type="range"
         id="calendar[preferences][rest_time]"
         name="calendar[preferences][rest_time]"
         min="0"
         max="60"
         class="form-control"
         value="<%= view_data[:rest_time] %>" />

  <br/>
  <%= f.submit 'Update' %>
<% end %>
<br/>