<% prefs = @user.calendar.preferences %>
<%= form_for (@user.calendar), url: {action: 'update'} do |f| %>
  <% serving_start = prefs['serving_start'].to_i || 1
  serving_finish = prefs['serving_finish'].to_i || CalendarsController::MINUTES_IN_DAY - 1
  break_start = prefs['break_start'].to_i || 0
  break_finish = prefs['break_finish'].to_i || CalendarsController::MINUTES_IN_DAY - 1
  rest_time = prefs['rest_time'].to_i || 5
  %>
  <label for="calendar[preferences][serving_start]">Time when you start working:</label>
  <input type="number"
         id="startDoublerHours"
         name="startDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= serving_start / 60 %>" /> hours
  <input type="number"
         id="startDoublerMinutes"
         name="startDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= serving_start % 60 %>" /> minutes
  <input type="range"
         id="calendar[preferences][serving_start]"
         name="calendar[preferences][serving_start]"
         min="0"
         max="<%= CalendarsController::MINUTES_IN_DAY - 1 %>"
         step="1"
         value="<%= serving_start %>" />

  <label for="calendar[preferences][serving_finish]">Time when you usually finish working:</label>
  <input type="number"
         id="finishDoublerHours"
         name="finishDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= serving_finish / 60 %>" /> hours
  <input type="number"
         id="finishDoublerMinutes"
         name="finishDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= serving_finish % 60 %>" /> minutes
  <input type="range"
         id="calendar[preferences][serving_finish]"
         name="calendar[preferences][serving_finish]"
         min="0"
         max="<%= CalendarsController::MINUTES_IN_DAY - 1 %>"
         step="1"
         value="<%= serving_finish %>" />

  <label for="calendar[preferences][break_start]">Time to have a break:</label>
  <input type="number"
         id="breakStartDoublerHours"
         name="breakStartDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= break_start / 60 %>" /> hours
  <input type="number"
         id="breakStartDoublerMinutes"
         name="breakStartDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= break_start % 60 %>" /> minutes
  <input type="range"
         id="calendar[preferences][break_start]"
         name="calendar[preferences][break_start]"
         min="0"
         max="<%= CalendarsController::MINUTES_IN_DAY - 1 %>"
         step="1"
         value="<%= break_start %>" />

  <label for="calendar[preferences][break_finish]">Time to go back to work:</label>
  <input type="number"
         id="breakFinishDoublerHours"
         name="breakFinishDoublerHours"
         min="0"
         max="23"
         step="1"
         value="<%= break_finish / 60 %>" /> hours
  <input type="number"
         id="breakFinishDoublerMinutes"
         name="breakFinishDoublerMinutes"
         min="0"
         max="59"
         step="1"
         value="<%= break_finish % 60 %>" /> minutes
  <input type="range"
         id="calendar[preferences][break_finish]"
         name="calendar[preferences][break_finish]"
         min="0"
         max="<%= CalendarsController::MINUTES_IN_DAY - 1 %>"
         step="1"
         value="<%= break_finish %>" />

  <label for="calendar[preferences][rest_time]">Average time to take rest between services:</label>
  <span class="label label-info" data-toggle="popover" data-trigger="hover"
        data-content="During that time after service execution, you'll be
  unavailable for other customers. You can always set rest time for
  every certain service. This value is set by default." data-original-title="Info">!</span>
  <input type="number"
         id="restTimeDoubler"
         name="restTimeDoubler"
         min="0"
         max="60"
         value="<%= rest_time %>" />
  minutes
  <input type="range"
         id="calendar[preferences][rest_time]"
         name="calendar[preferences][rest_time]"
         min="0"
         max="60"
         class="form-control"
         value="<%= rest_time %>" />

  <br/>
  <%= f.submit 'Update' %>
<% end %>
<br/>
<%= link_to 'Back', :back %>