<div class="row with-user-links">
  <div class="col-sm-9">
    <h2><%= view_data[:calendar_title_text] %></h2>
    Select date:
    <input type="text"
           data-provide='datepicker-inline'
           data-date-max-view-mode="1"
           data-date-today-btn="linked"
           data-date-today-highlight="true"
    />
    <br/>
    <br/>
    <%= render 'calendars/calendar_timeline',
               view_data: @calendars_presenter.calendar_timeline_data(view_data[:timeline_data], view_data[:id]),
               timeline_data: @timeline_data %>
    <%= render 'calendars/calendar_legend' %>
  </div>
  <div class="col-sm-2 col-sm-push-1 edit-buttons">
    <% if view_data[:is_mine] %>
      <%= link_to 'Calendar preferences', edit_user_calendar_path %>
    <% else %>
      <%= link_to 'Back', :back %>
    <% end %>
  </div>
</div>